.hero {
	width: 100%;
	height: 100vh;
	background: url('../../img/hero.jpg') center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
}

.hero::after {
	/* content: ''; */
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
}

.hero-cta-container {
	display: flex;
	justify-content: space-around;
	margin-top: 4.2rem;
}

/* our services */
.our-services {
	background: url('../../img/pink-lights.jpg') center no-repeat;
	background-size: cover;
	/* height: 100%; */
}

.services-info-container {
	text-align: center;
}

.services-img-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3rem;
}

.services-img {
	padding: 4.8rem 0;
	/* border: solid 1px hotpink; */
}

.services-img img {
	width: 100%;
	max-width: 20rem;
	border-radius: 50%;
	/* clip-path: circle(10rem at center); */
}

.services-headline {
	font-family: var(--main-font);
	font-size: 3.4rem;
	padding-top: 2.4rem;
	text-transform: uppercase;
	color: var(--main-font-color-dark);
}

/* safety first */
.safety-first {
	background: url('../../img/safety-first.jpg') center no-repeat;
	background-size: cover;
}

.safety-first-info-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3rem;
}

.safety-first-sub-headline {
	font-size: 6.2rem;
	font-family: var(--main-font);
	color: var(--main-font-color-dark);
	line-height: 9.92rem;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
}

.safety-first-description-text {
	padding: 2.4rem 0;
}

.safety-first-description-text h3 {
	font-size: 3.4rem;
	color: #fff;
	line-height: 5.44rem;
}

/* whats new section */
.whats-new {
	background-color: var(--light-bg-color);
	height: 100%;
}

.whats-new-info-container {
	text-align: center;
}

.whats-new-img-container {
	padding: 4.8rem 0;
	display: grid;
	grid-template-columns: 1fr;
}

.whats-new-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 4.8rem;
}

.whats-new-text {
	width: 80%;
	margin-top: -4rem;
	padding: 2.4rem 4.2rem;
	background-color: var(--main-font-color-dark);
}

.whats-new-text a {
	color: #fff;
	font-size: 1.6rem;
}

/* customers section */

.customers {
	background: linear-gradient(
			rgba(255, 248, 249, 0.3),
			rgba(255, 255, 255, 0.1)
		),
		url(../../img/influencer.png) center/cover no-repeat;
}

.customers-info-container {
	text-align: center;
}

.customers-slider-flexbox {
	display: flex;
}

.customers-slider-right {
	width: 50%;
}

.lazy {
	max-width: 40%;
}

.customers-text p {
	padding: 2.4rem 0;
	color: var(--main-font-color-dark);
}

.fa-quote-left {
	font-size: 3.2rem;
	background: -webkit-linear-gradient(#e5e5e5, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
