*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: var(--body-font);
	font-size: 10px;
	color: var(--body-font);
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

section {
	padding: 3.9rem 0;
	overflow: hidden;
}

img {
	width: 100%;
	max-width: 100%;
}

a {
	text-decoration: none;
}

p {
	font-size: 1.6rem;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	transition: background-color 0.5s ease;
	z-index: 1000;
}

.hero-container {
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.nav {
	width: 100%;
	height: 10rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid rgba(255, 255, 255, 0.05);
	transition: height 0.5s ease;
}

.menu-toggle {
	color: #fff;
	font-size: 2.2rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2.5rem;
	cursor: pointer;
	z-index: 1500;
}

.nav a {
	text-decoration: none;
	color: var(--secondary-font-color);
	font-size: 1.6rem;
}

.nav .logo {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 800;
	text-shadow: 2px 2px var(--secondary-font-color);
}

.nav-list {
	list-style: none;
	display: flex;
	margin-right: auto;
	margin-left: 4rem;
}

.nav-link {
	margin: 0 2rem;
	position: relative;
	font-weight: 600;
	/* text-transform: uppercase; */
}

.nav-link::after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: -3px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.5s ease;
}

.nav-link:hover::after {
	transform: scaleX(1);
}

#nav-cta {
	display: inline-block;
	background-color: #fff;
	color: #313131;
	padding: 1rem 2rem;
	border-radius: 2rem;
	transition: background-color 0.5s ease;
	letter-spacing: 0.2rem;
}

#nav-cta:hover {
	background-color: #ff6699;
}

/* Apply styles after scroll */
.scrolling-active {
	background-color: #ff6699;
	box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active .nav {
	height: 6.6rem;
}

.scrolling-active .nav a {
	/* color: #313131; */
	color: #fff;
}

.scrolling-active #nav-cta {
	background-color: #313131;
	color: #fff;
}

.scrolling-active #nav-cta:hover {
	background-color: #151515;
}

.scrolling-active .nav-link::after {
	background-color: #fff;
}

/* Apply styles after scroll end */

/* Hero */
.hero {
	width: 100%;
	height: 100vh;
	background: url('mountain-large.jpg') center no-repeat;
	background-size: cover;
	position: relative;
}

/* button cta */
.btn-cta {
	overflow: hidden;
	margin: 1rem 0;
	padding: 1.2rem 3.6rem;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.8rem;
	letter-spacing: 2px;
	border-radius: 4rem;
	background-image: linear-gradient(90deg, #ff006b, #fbdce1);
	transition: 0.3s;
	opacity: 0.6;
}

.btn-cta:hover {
	opacity: 1;
	transition: 0.5s ease;
	background: linear-gradient(90deg, #755bea, #ff72c0);
}
