/* desktop version */

@media screen and (min-width: 900px) {
	section {
		padding: 7.9rem;
	}

	.menu-toggle {
		display: none;
	}

	.nav {
		justify-content: space-between;
	}

	.nav-list {
		margin-left: 4rem;
		position: initial;
		width: initial;
		height: initial;
		background-color: transparent;
		padding: 0;
		justify-content: initial;
		flex-direction: row;
		transform: initial;
		transition: initial;
	}

	.nav-item {
		margin: 0 1.4rem;
		border: none;
	}

	.nav-item:last-child {
		margin-right: 0;
	}

	.nav-link {
		font-size: 1.3rem;
	}

	.nav-booking-link {
		display: none;
	}

	.footer-content {
		max-width: 77.5rem;
		margin: auto;
	}

	.footer-content-about {
		max-width: 51.3rem;
		margin: 0 auto 5.4rem;
	}

	.footer-content-divider {
		display: flex;
		justify-content: space-between;
	}

	.social-media,
	.newsletter-form {
		width: 100%;
		max-width: 27.3rem;
		margin: 0 1rem;
		padding: 0 1rem;
	}

	.social-icons i {
		opacity: 1;
	}

	.newsletter-btn {
		margin-left: 15.5rem;
	}

	.services-img-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

/* hero content resize */
/* @media only screen and (min-width: 768px) and (max-width: 1296px)  */
@media screen and (max-width: 1296px) {
	.headline-container {
		min-width: 90vw;
	}
}

@media screen and (max-width: 767px) {
	.nav .logo {
		font-size: 2.4rem;
	}
	.headline-container {
		min-width: 100vw;
	}

	.sub-headline {
		font-size: 3.1rem;
		line-height: 4.96rem;
	}

	.headline {
		font-size: 5rem;
		line-height: 8rem;
		padding: 2.4rem 0;
	}

	.hero-cta-container {
		display: flex;
		flex-direction: column;
	}

	.hero-cta {
		margin-bottom: 2.4rem;
	}

	.hero-cta:last-child {
		margin-top: 2.4rem;
	}
}

/* mobile version */

@media screen and (max-width: 899px) {
	#nav-cta {
		display: none;
	}
}

/* animations */

@keyframes scale {
	0% {
		transform: scale(2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeUp {
	0% {
		transform: translateY(4rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes grow {
	0% {
		width: 0;
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		opacity: 1;
		transform: rotate(-360deg);
	}
}

@keyframes fadeDown {
	0% {
		transform: translateY(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes up {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(-1rem);
	}
}
