:root {
	--main-font: 'Open Sans', sans-serif;
	--secondary-font: 'Lily Script One', cursive;
	--body-font: 'Open Sans', sans-serif;
	--main-font-color-dark: #b22a43;
	--secondary-font-color: #ff006b;
	--body-font-color: #b22a43;
	--light-bg-color: #fef3f5;
}
